.git
.github
.env
.env.*
!.env.example
!.env.docker.example
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
backups
tests
*.md
.idea
.vscode
